force-app/main/default/flows/Overall_Rating_Calculation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Calculate_Sum_of_Tasks</name>
        <label>Calculate Sum of Tasks</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AppraiseeSumofTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AppraiseeTaskMultiply</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SumofTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskMultiply</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_the_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>calculation_of_weightage_and_rating</name>
        <label>calculation of weightage and rating</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>taskRatingAppraisee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_the_records.SelfRating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskWeightageAppraisee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_the_records.Weightage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRatingAppraiser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_the_records.Appraiser_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskWeightageAppraiser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_the_records.Appraiser_Weightage_for_Each_KPIs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Sum_of_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCount</name>
        <label>GetCount</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>KPICount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>KPI_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_KPI_records_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overall_Rating</name>
        <label>Overall Rating</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>OverallRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ratingPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppraiseeOverallRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppraiseeRatingPercentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateEvalutionRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_KPI_records_size</name>
        <label>check KPI records size</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KPICount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_the_records</targetReference>
            </connector>
            <label>Check Size</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AppraiseeRatingPercentage</name>
        <dataType>Number</dataType>
        <expression>IF( {!AppraiseeSumofTasks} &gt;0 , {!AppraiseeSumofTasks}/100, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AppraiseeTaskMultiply</name>
        <dataType>Number</dataType>
        <expression>VALUE({!taskRatingAppraisee}) * {!taskWeightageAppraisee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ratingPercentage</name>
        <dataType>Number</dataType>
        <expression>IF( {!SumofTasks} &gt;0 ,  {!SumofTasks}/100, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>taskMultiply</name>
        <dataType>Number</dataType>
        <expression>VALUE({!taskRatingAppraiser}) * {!taskWeightageAppraiser}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Overall Rating Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Overall Rating Calculation</label>
    <loops>
        <name>Looping_the_records</name>
        <label>Looping the records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>KPI_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calculation_of_weightage_and_rating</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Overall_Rating</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>KPI_Records</name>
        <label>KPI Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Evaluation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Evaluation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEvalutionRecord</name>
        <label>UpdateEvalutionRecord</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Evaluation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApraiseeOverallRating__c</field>
            <value>
                <elementReference>AppraiseeOverallRating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverallRating__c</field>
            <value>
                <elementReference>OverallRating</elementReference>
            </value>
        </inputAssignments>
        <object>Evaluation__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>KPI_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Appraiser_Rating__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Appraiser_Weightage_for_Each_KPIs__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Evaluation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SelfRating__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Weightage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task_Tracker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AppraiseeOverallRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AppraiseeSumofTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>KPICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OverallRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumofTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>taskRatingAppraisee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskRatingAppraiser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskWeightageAppraisee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>taskWeightageAppraiser</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
