force-app/main/default/flows/ReminderForSubByAppraiserStatus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailToAppraiseeForSubByAppraiser</name>
        <label>SendEmailToAppraiseeForSubByAppraiser</label>
        <locationX>719</locationX>
        <locationY>340</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SubByAppLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SubByAppLoop.EmployeeMaster__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder for Appraisal From Sent for Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SubByAppraiserEmailTemp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>SubByAppLoop.EmployeeMaster__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>addOneDaytoToday</name>
        <dataType>Date</dataType>
        <expression>Today()+1</expression>
    </formulas>
    <interviewLabel>ReminderForSubByAppraiserStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReminderForSubByAppraiserStatus</label>
    <loops>
        <name>SubByAppLoop</name>
        <label>SubByAppLoop</label>
        <locationX>714</locationX>
        <locationY>107</locationY>
        <collectionReference>GetSubByAppraiserRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendEmailToAppraiseeForSubByAppraiser</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSubByAppraiserRecords</name>
        <label>GetSubByAppraiserRecords</label>
        <locationX>481</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubByAppLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted by Appraiser</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>addOneDaytoToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>24</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>GetSubByAppraiserRecords</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-19</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SubByAppraiserEmailTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!SubByAppLoop.EmployeeMaster__r.FirstName} {!SubByAppLoop.EmployeeMaster__r.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;This is the reminder to Sent for Review of the Appraisal form&lt;/span&gt; as the last date is {!SubByAppLoop.End_Date__c}.&lt;/p&gt;&lt;p&gt;Please act accordingly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: Please ignore if already completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank &amp;amp; Regards&lt;/p&gt;</text>
    </textTemplates>
</Flow>
