force-app/main/default/flows/ReminderForSubmit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendtheEmail_to_Appraisee</name>
        <label>SendtheEmail to Appraisee</label>
        <locationX>575</locationX>
        <locationY>300</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop.EmployeeMaster__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder for Submit your Appraisal form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TT_ReminderForSumbit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Loop.EmployeeMaster__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>PreviousdayPlusOne</name>
        <dataType>Date</dataType>
        <expression>Today()+1</expression>
    </formulas>
    <interviewLabel>ReminderForSubmit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReminderForSubmit</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>564</locationX>
        <locationY>130</locationY>
        <collectionReference>Get_Evaluation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendtheEmail_to_Appraisee</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Evaluation_Records</name>
        <label>Get Evaluation Records</label>
        <locationX>430</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousdayPlusOne</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Evaluation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>40</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Get_Evaluation_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-19</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TT_ReminderForSumbit</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop.EmployeeMaster__r.FirstName} {!Loop.EmployeeMaster__r.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is the reminder to Submit the Appraisal form as the last date is {!Loop.End_Date__c}. Please act accordingly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NOTE: Please ignore if already completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank &amp;amp; Regards,&lt;/p&gt;</text>
    </textTemplates>
</Flow>
